{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/styles/style.css' %}" />
    <link rel="stylesheet" href="{% static '/styles/normalize.css' %}" />
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav>
      <ul class="nav-links">
        <li class="nav-link">
          <a href="/"
            ><img src={% static 'logo_netflix.png' %} class="logo" /></a
          >
        </li>
        {% if user.is_authenticated %}
        <li class="nav-link"><a href="/movies">Movies</a></li>
        <li class="nav-link"><a href="/series">Series</a></li>
        <li class="nav-link"><a href="{% url 'list' %}">My list</a></li>
        <li class="nav-link"><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %} {% if not user.is_authenticated %}
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><a href="{% url 'login' %}">Login</a></li>
        <li class="nav-link"><a href="{% url 'subscribe' %}">Subscribe</a></li>
        {% endif %}
      </ul>
    </nav>
    <main>{% block content %} {% endblock %}</main>

    <footer>
      {% block footer %} {% include 'layouts/footer.html' %} {% endblock %}
    </footer>
  </body>
</html>
